SDL/lib
SDL/obj
SDL_gfx/lib
SDL_gfx/include
SDL_gfx/obj
SDL_image/lib
SDL_image/include
SDL_image/obj
SDL_mixer/lib
SDL_mixer/include
SDL_mixer/obj
SDL_net/lib
SDL_net/include
SDL_net/obj
SDL_ttf/lib
SDL_ttf/include
SDL_ttf/obj
smpeg/lib
smpeg/include
smpeg/obj
